@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
    --breakpoint-xxs: 391px;
    --breakpoint-xxx: 361px;
}

body {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 3px; /* ขนาดแถบเลื่อน */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00537B; /* สีของตัวเลื่อน */
    border-radius: 5px; /* ทำให้มีขอบโค้ง */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #00537B; /* สีพื้นหลังของแถบเลื่อน */
  }


  .button-1 {
     @apply w-[100px] text-white text-[16px] font-[500] py-1.5 rounded-lg bg-gradient-to-r from-[#00537B] to-[#008793] hover:from-[#008793] hover:to-[#4b7791] hover:scale-105 transition duration-300 shadow-md hover:shadow-xl cursor-pointer;
  }
  
